@media screen and (max-width: 1400px) {
  .line-left,
  .line-top {
    display: none;
  }
  .main .main-content-wrapper {
    justify-content: space-evenly;
    margin: auto;
  }

  .partner-wrapper {
    margin-left: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .line-left,
  .line-top,
  .header .social-icons,
  .header .auth {
    display: none;
  }

  .header {
    padding-bottom: 80px;
  }
  .header .logo-text {
    margin-left: 5%;
    width: auto;
  }
  .header .content-wrapper {
    margin-top: 20px;
    margin-left: 10px;
  }

  .header .nav-links{
    margin-top: 20px;
    text-align: left;
}



  .header .content-wrapper .content-text {
    margin-top: 20px;
  }

  .main .main-content-wrapper {
    justify-content: space-evenly;
    margin: 5%;
  }

  .main-content-wrapper .main-content-block .main-paragraph {
    width: 260px;
  }

  .info {
    background-size: 35%;
    height: 100%;
    margin-bottom: 10%;
  }

  .info .quote-wrapper {
    margin-left: 10%;
  }

  .partner-wrapper {
    margin-left: 5%;
    text-align: center;
  }
  .footer .social-info,
  .footer .copyright {
    margin-left: 5%;
  }
  .footer .additional-info {
    margin-left: 5%;
    margin-right: auto;
  }
}


@media screen and (max-width: 850px) {
  .line-left,
  .line-top,
  .header .social-icons,
  .header .auth {
    display: none;
  }

  .header .navbar-wrapper {
    justify-content: space-evenly;
      flex-wrap: wrap;
      overflow: hidden;
      
  }


  .header .nav-links {
      margin-top: 20px;
      text-align: left;
  }



  .header .language-wrapper  .language-list {
     display: flex;
     justify-content: center;
  }

  .header .account-wrapper .account-buttons a{
    display: block;
    margin: 10px auto;
  }

  .header .account-wrapper .account-buttons a:not(:first-child) {
    width: 15%;
  }

  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .main-content-block {
    margin-top: 50px;
  }

  .partner-wrapper p {
    width: 700px;
  }

  .contacts {
    margin-right: 50px;
  }

  .footer .additional-info-links {
    margin-right: 50px;
  }

  .physical-security-wrapper .physical-security-text h4 {
   
    font-size: 30px;
  
  
  }

  .physical-security-wrapper .physical-security-text p {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  .physical-security-wrapper .physical-security-text h4 {
   
    font-size: 20px;
    text-align: center;
  
  
  }

  .physical-security-wrapper .physical-security-text p {
   text-align: center;
  }

  .partner-wrapper p {
    width: 500px;
  }

  .physical-security-wrapper .more-btn {
    margin: 0 auto;
    
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {

  body {
    overflow-x: hidden;
  }
  .navbar-wrapper {
    flex-direction: column;
  }
  .header nav {
    margin-left: 0;
  }
  .header .nav-links li a {
    font-size: 12px;
    padding: 0 5px;
  }

  .physical-security-wrapper .physical-security-text h4 {
   
    font-size: 20px;
    text-align: left;
  
  
  }

  .physical-security-wrapper .physical-security-text p {
   text-align: left;
   width: 300px;
  }

  .journal-wrapper .journal-icons {
    display: flex;
    flex-wrap: wrap;
  }

  .privacy-buttons a {
    font-size: 14px;
  }

  .partner-wrapper p {
    width: 300px;
  }
  .account-wrapper .account-buttons a:first-child {
    font-size: 16px;
  } 
  .account-wrapper .account-buttons a:not(:first-child) { 
    padding: 10px 10px;
  }

  .footer {
    overflow: hidden;
  }
  .additional-info-wrapper {
    flex-wrap: wrap;
  }
  .contacts {
    margin-right: 70px;
  }
  .additional-info-links {
    margin: 30px 5px;
  }
}